@font-face {
  font-family: "JetBrains";
  src: url("../assets/fonts/JetBrainsMono-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "JetBrains";
  src: url("../assets/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: italic;
}

:root {
  --white: #e6e5ea;
  --neon-green: #a4ffaf;
  --yellow: #f8cd65;
  --orange: #fb7c58;
  --red: #f64a4a;
  --grey: #817d92;
  --dark-grey: #24232c;
  --black: #18171f;

  font-family: "JetBrains", sans-serif;
  font-size: 16px;
  color: var(--white);

  --spacing-block: 1.3rem;
  --spacing-inline: 1.5rem;
}

/* Elements and utility classes */
a {
  text-decoration: none;
  color: var(--grey);
}

.bg-dark-grey {
  background-color: var(--dark-grey);
}

/* App Styling */
.App {
  min-height: 100dvh;
  background-color: var(--black);

  padding-top: 100px;

  display: grid;
  grid-template-rows: 1fr auto;
  align-items: start;
}

.app__wrapper {
  --max-width: 550px;

  width: min(100% - 2rem, var(--max-width, 400));
  margin-inline: auto;

  display: grid;
  gap: 1rem;
}

.app__title {
  text-align: center;
  font-size: 1.4rem;
  color: var(--grey);

  margin-bottom: 0.4rem;
}

/* Settings Styling */
.settings{
  display: grid;
  gap: calc(var(--spacing-block) + 0.2rem);
  padding: var(--spacing-block) var(--spacing-inline);
}

.settings__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-block);
}
.settings__header_number{
  font-size: 2em;
  color: var(--neon-green);
}

.settings__slider{
  height: 6px;
  background-color: var(--black);
}

.settings__checkmarks, 
.settings__header{
  font-size: 0.9rem;
}
.settings__checkmarks{
  display: grid;
  gap: var(--spacing-block) var(--spacing-inline);
}
.settings__strength-indicator{
  padding: 1.2rem;

  font-size: 0.9rem;
  text-transform: uppercase;
  color: var(--grey);

  background-color: var(--black);
}

/* Password View Styling */
.password-view{
  font-size: 1.3rem;
  padding: var(--spacing-block) var(--spacing-inline);
}

/* Checkmark Styling */
.checkmark{
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 0.6rem;
}
.checkmark__square{
  width: 20px;
  height: 20px;

  background-color: var(--neon-green);

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Button Styling */
.settings__generate-btn{
  padding: 1rem;
  border: none;
  background-color: var(--neon-green);
  cursor: pointer;

  text-transform: uppercase;
  font-size: 1.1rem;

  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.settings__generate-btn::after{
  content: url('../assets/images/icon-arrow-right.svg');
}

/* Footer Styling */
.app__footer {
  text-align: center;
  padding: 1rem;
  color: var(--white);
}
