@font-face {
  font-family: "JetBrains";
  src: url("../assets/fonts/JetBrainsMono-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "JetBrains";
  src: url("../assets/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: italic;
}

:root {
  --white: #e6e5ea;
  --neon-green: #a4ffaf;
  --yellow: #f8cd65;
  --orange: #fb7c58;
  --red: #f64a4a;
  --grey: #817d92;
  --dark-grey: #24232c;
  --black: #18171f;

  font-family: "JetBrains", sans-serif;
  font-size: 16px;
  color: var(--white);

  --spacing-block: 1rem;
  --spacing-inline: 1.2rem;
}

/* Elements and utility classes */
a {
  text-decoration: none;
  color: var(--grey);
}

.bg-dark-grey {
  background-color: var(--dark-grey);
}

/* App Styling */
.App {
  min-height: 100dvh;
  background-color: var(--black);

  padding-top: 100px;

  display: grid;
  grid-template-rows: 1fr auto;
  align-items: start;
}

.app__wrapper {
  --max-width: 550px;

  width: min(100% - 2rem, var(--max-width, 400));
  margin-inline: auto;

  display: grid;
  gap: 1rem;
}

.app__title {
  text-align: center;
  font-size: 1.4rem;
  color: var(--grey);

  margin-bottom: 0.4rem;
}

/* Settings Styling */
.settings {
  display: grid;
  gap: calc(var(--spacing-block) + 0.2rem);
  padding: var(--spacing-block) var(--spacing-inline);
}

.settings__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-block);
}
.settings__header_number {
  font-size: 2em;
  color: var(--neon-green);
}

/* Slider */
.settings__slider {
  --track-height: 8px;
  --thumb-height: 20px;
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  height: var(--track-height);
  background-color: var(--black);
  width: 100%;
  cursor: pointer;
  outline: none;
}

/* Slider Styling */
.settings__slider::-webkit-slider-thumb {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  height: var(--thumb-height);
  width: var(--thumb-height);
  background: var(--white);
  border: 2px solid var(--white);
  border-radius: 50%;
  transition: 0.2s ease-in-out;

  /* centering the thumb on safari */
  margin-top: calc(var(--track-height + 2px) / 2 - var(--thumb-height) / 2);
}
.settings__slider::-moz-range-thumb{
  /* creating a custom design */
  height: var(--thumb-height);
  width: var(--thumb-height);
  background: var(--white);
  border: 2px solid var(--white);
  border-radius: 50%;
  transition: 0.2s ease-in-out;

  /* centering the thumb on safari */
  margin-top: calc(var(--track-height + 2px) / 2 - var(--thumb-height) / 2);
}
.settings__slider::-webkit-slider-thumb:hover {
  background: var(--black);
  border-color: var(--neon-green);
}
.settings__slider::-moz-range-thumb:hover {
  background: var(--black);
  border-color: var(--neon-green);
}
.settings__slider:active::-webkit-slider-thumb{
  background: var(--black);
  border-color: var(--neon-green);
}
.settings__slider:focus::-webkit-slider-thumb{
  background: var(--black);
  border-color: var(--neon-green);
}
.settings__slider:active::-moz-range-thumb{
  background: var(--black);
  border-color: var(--neon-green);
}
.settings__slider:focus::-moz-range-thumb{
  background: var(--black);
  border-color: var(--neon-green);
}
/* end of slider styling */

.settings__checkmarks,
.settings__header {
  font-size: 0.9rem;
}
.settings__checkmarks {
  display: grid;
  gap: var(--spacing-block) var(--spacing-inline);

  li:hover {
    cursor: pointer;
  }
}
.settings__strength-indicator {
  padding: 1.2rem;

  font-size: 0.9rem;
  text-transform: uppercase;
  color: var(--grey);

  background-color: var(--black);

  display: flex;
  flex-direction: column;
  gap: 10px;
}
.settings__strength-indicator > div:last-child {
  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 1.1rem;
  color: var(--white);
}

/* Password View Styling */
.password-view {
  font-size: 1.3rem;
  padding: var(--spacing-block) var(--spacing-inline);

  display: grid;
  align-items: center;
  gap: 8px;
  grid-template-columns: 1fr auto auto;

  span {
    font-size: 0.8rem;
    text-transform: uppercase;
    color: var(--neon-green);
  }

  svg:hover {
    cursor: pointer;

    path {
      fill: var(--white);
    }
  }
}
.password-view--empty {
  color: var(--grey);
}

/* Checkmark Styling */
.checkmark {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 0.6rem;
}
.checkmark__square {
  width: 19px;
  height: 19px;

  border: 1px solid var(--white);

  display: flex;
  align-items: center;
  justify-content: center;
}
.checkmark__square.checked {
  background-color: var(--neon-green);
}

/* Level Spans Styling */
.level-spans span {
  display: block;
  width: 10px;
  height: 25px;
  border: 2px solid var(--white);
}
.level-spans.too-weak span:first-of-type {
  border-color: var(--red);
  background-color: var(--red);
}
.level-spans.weak span:first-of-type,
.level-spans.weak span:nth-of-type(2) {
  border-color: var(--orange);
  background-color: var(--orange);
}
.level-spans.medium span:first-of-type,
.level-spans.medium span:nth-of-type(2),
.level-spans.medium span:nth-of-type(3) {
  border-color: var(--yellow);
  background-color: var(--yellow);
}
.level-spans.strong span {
  border-color: var(--neon-green);
  background-color: var(--neon-green);
}

/* Button Styling */
.settings__generate-btn {
  padding: 1rem;
  border: 2px solid transparent;
  background-color: var(--neon-green);
  transition: 0.4s;

  text-transform: uppercase;
  font-size: 1.1rem;

  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.settings__generate-btn path {
  transition: 0.4s;
}

.settings__generate-btn:hover {
  color: var(--neon-green);
  background-color: var(--dark-grey);
  border-color: var(--neon-green);
  cursor: pointer;
}

.settings__generate-btn:hover path {
  fill: var(--neon-green);
}

/* Footer Styling */
.app__footer {
  text-align: center;
  padding: 1rem;
  color: var(--white);
}

@media (min-width: 375px) {
  :root {
    --spacing-block: 1.3rem;
    --spacing-inline: 1.5rem;
  }

  .settings__strength-indicator {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
