@font-face {
  font-family: "JetBrains";
  src: url("../assets/fonts/JetBrainsMono-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "JetBrains";
  src: url("../assets/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: italic;
}

:root {
  --white: #e6e5ea;
  --neon-green: #a4ffaf;
  --yellow: #f8cd65;
  --orange: #fb7c58;
  --red: #f64a4a;
  --grey: #817d92;
  --dark-grey: #24232c;
  --black: #18171f;

  font-family: "JetBrains", sans-serif;
  font-size: 16px;
  color: var(--white);

  --spacing-block: 1rem;
  --spacing-inline: 1.3rem;
}

/* Elements and utility classes */
a {
  text-decoration: none;
  color: var(--grey);
}

.bg-dark-grey {
  background-color: var(--dark-grey);
}

/* App Styling */
.App {
  min-height: 100dvh;
  background-color: var(--black);

  padding-top: 200px;

  display: grid;
  grid-template-rows: 1fr auto;
  align-items: start;
}

.app__wrapper {
  --max-width: 650px;

  width: min(100% - 2rem, var(--max-width, 400));
  margin-inline: auto;

  display: grid;
  gap: 1rem;
}

.app__title {
  text-align: center;
  font-size: 1.4rem;
  color: var(--grey);

  margin-bottom: 0.4rem;
}

/* Password View Styling */
.password-view{
  font-size: 1.3rem;
  padding: var(--spacing-block) var(--spacing-inline);
}

/* Checkmark Styling */
.checkmark{
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 0.6rem;
}
.checkmark__square{
  width: 20px;
  height: 20px;

  background-color: var(--neon-green);

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Footer Styling */
.app__footer {
  text-align: center;
  padding: 1rem;
  color: var(--white);
}
